@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-attachment: fixed;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

main {
    width: 100%;
}

#main_background {
    width: 100%;
}

/*NAVBAR*/
header {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    z-index: 10;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/media/fondo_principal_2.jpg");
    background-size: cover;
    background-position: center center;
}

#navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.fondo_navbar {
    background-color: #282829;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.fondo_navbar #lista_navbar a {
    color: #FFFFFF;
    transform: translateY(25px);
    transition: 0.6s;
}


.fondo_navbar .logo_scroll, .fondo_navbar .logo_base{
    transform: translateY(10px);
}

#lista_navbar .nav_link_main{
    color: #FFFFFF;
}

#lista_navbar .nav_link_main:hover{
    color: #282829;
}

#lista_navbar a {
    transition: 0.6s;
}

.fondo_navbar #lista_navbar a:hover {
    color: #90AAAC;
}

#navbar a {
    font-weight: 600;
}


#navbar_paginas ul {
    width: 100%;
    justify-content: space-around;
}

#navbar_paginas a {
    transition: 0.6s;
}

#navbar #img_logo_navbar {
    width: 75%;
}

#navbar #img_logo_navbar img {
    width: 15%;
}

#navbar #img_logo_navbar .logo_scroll,
#navbar #img_logo_navbar .logo_base {
    transition: 0.8s;
}


/*busqueda principal*/
main h1 {
    width: 50%;
    top: 40%;
    left: 25%;
    position: relative;
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
}

#form_busqueda {
    z-index: 8;
    width: 50%;
    top: 45%;
    left: 25%;
}

#form_busqueda #select_tipo_prop {
    background-color: #eae9e9;
    flex: 0 1 27%;
}

#form_busqueda #btn_busqueda_ppal {
    background-color: #90AAAC;
}

/*ULTIMOS INGRESOS*/

#ultimos_ingresos {
    margin-top: 5%;
}

#ultimos_ingresos h2 {
    text-align: center;
}

#ultimos_ingresos #cartas_ultimos_ingresos {
    margin-top: 2%;
}

#ultimos_ingresos #cartas_ultimos_ingresos .row .col-md-4:first-child {
    padding-left: 2%;
}

#ultimos_ingresos #cartas_ultimos_ingresos .row .col-md-4:last-child {
    padding-right: 2%;
}

/*tarjetas*/
#ultimos_ingresos .tarjeta_container {
    height: 50vh;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#ultimos_ingresos .tarjeta_container:hover {
    transform: translateY(-10px);
}

#ultimos_ingresos .tarjeta_imagen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70%;
    background: url("/media/casa_carta_1.jpg");
    background-size: cover;
    background-position: center center;
}

#ultimos_ingresos .tarjeta_imagen .tarjeta_imagen_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 30%;
}

#ultimos_ingresos .tarjeta_imagen .tarjeta_imagen_info .tarjeta_precio {
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 0 1% 2%;
}

#ultimos_ingresos .tarjeta_imagen .tarjeta_imagen_info .tarjeta_tipo_transaccion {
    color: #FFFFFF;
    padding: 0 2% 1% 0;
}

#ultimos_ingresos .tarjeta_info {
    padding: 1% 0 0 2%;
}

#ultimos_ingresos .tarjeta_info h4 {
    font-weight: bold;
    color: #282829;
}

/*FOOTER*/
footer {
    height: 30vh;
    width: 100%;
    background-color: #282829;
    margin-top: 5%;
    box-shadow: -1px -1px 6px 1px rgba(0, 0, 0, 0.65);
}

footer #container_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 2%;
}

footer #container_footer #container_logo_footer {
    width: 25%;
    display: flex;
    justify-content: start;
}

footer #container_footer #container_contacto_footer,
footer #container_footer #container_links_footer {
    width: 18%;
}

footer #container_footer #container_redes_footer {
    width: 10%;
}

/*footer contactos*/
footer #container_footer #container_contacto_footer ul li img {
    width: 10%;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: solid 2px #FFFFFF;
}

footer #container_footer #container_contacto_footer h5,
footer #container_footer #container_redes_footer h5,
footer #container_footer #container_links_footer h5,
footer #container_footer #container_links_footer ul {
    width: 90%;
    text-align: center;
}

footer #container_footer #container_contacto_footer #icono_mail_footer {
    background-color: #282829;
}

footer #gmail_footer {
    font-size: 13px;
}

footer .btn_footer {
    background-color: #282829;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    width: 90%;
    padding-right: 0;
    padding-left: 0;
}

footer .btn_footer:hover {
    background-color: #90AAAC;
    transition: 0.3s;
}

footer #container_contacto_footer .container_btn_footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    margin-left: 5%;
}

footer #container_contacto_footer .container_btn_footer span {
    margin-left: 5%;
}

footer #container_footer #container_contacto_footer ul li:last-child {
    margin-top: 5%;
}

footer #container_footer #container_contacto_footer ul,
footer #container_footer #container_links_footer ul,
footer #container_footer #container_redes_footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*footer links*/
footer #container_footer #container_links_footer ul a {
    text-decoration: none;
    color: inherit;
}

footer #container_footer #container_links_footer ul a:hover {
    color: #90AAAC;
    transition: 0.3s;
}

footer hr {
    width: 90%;
}

footer #logo_footer {
    width: 70%;
}

/*footer redes*/
footer .icono_redes {
    width: 20%;
}

footer .icono_redes:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#icono_wpp {
    position: fixed;
    bottom: 3%;
    right: -29%;
}

#icono_wpp img {
    width: 10%;
    transition: transform 0.3s ease, filter 0.7s ease;
}

#icono_wpp img:hover {
    transform: translateY(-7px);
    filter: hue-rotate(20deg);
}

/*NOSOTROS*/
#seccion_nosotros {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    height: 100vh;
    color: #282829;
    margin-bottom: 7%;
}

#container_nosotros {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header_nosotros {
    width: 100%;
    background-color: #90AAAC;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5% 0;
    margin-top: 8%;
}

#header_nosotros #container_header_nosotros {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header_nosotros #container_header_nosotros h1 {
    margin-bottom: 4%;
    font-weight: bold;
    color: #FFFFFF;
}

#header_nosotros #container_header_nosotros h3 {
    margin-bottom: 2%;
    color: #FFFFFF;
}

#header_nosotros #container_header_nosotros p {
    text-align: left;
    color: #FFFFFF;
}

#header_nosotros .video_container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#seccion_valores {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

#seccion_valores .card_valores {
    background-color: #FAFAFA;
    width: 70%;
    padding: 2%;
    margin: 1%;
}

#seccion_valores .card_valores h2 {
    color: #90AAAC;
    font-weight: 600;
}

#seccion_valores .card_valores p {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 2%;
}

/*CONTACTO*/
#main_contacto {
    margin-top: 7%;
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main_contacto #container_img_contacto {
    width: 55%;
    background-color: #282829;
    box-shadow: -5px 0 8px -5px rgba(0, 0, 0, 0.5);
}

#main_contacto #container_img_contacto img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 5%;
}

#main_contacto #container_medios_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #90AAAC;
    color: #FFFFFF;
    padding: 2% 0 2% 4%;
    width: 45%;
}

#main_contacto #container_medios_contacto h1 {
    font-size: 30px;
    margin-bottom: 5%;
    font-weight: bold;
}



#main_contacto #container_medios_contacto .medio_contacto a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% 0 3% 0;
    text-decoration: none;
    color: #FFFFFF;
}

#main_contacto #container_medios_contacto .medio_contacto h5 {
    margin: 0 0 0 3%;
}

#main_contacto #container_medios_contacto .medio_contacto .icono_contacto {
    width: 5%;
}