@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

.navbar-toggler {
    border: none;
}

.cargador{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 254, 254, 0.4), rgba(255, 254, 254, 0.4));
    z-index: 9999;
    transition: opacity 0.75s, visibility 0.75s;
}

.cargador_hidden{
    display: none;
}

.spinner{
    width: 75px;
    height: 75px;
    border: 10px solid #282829;
    border-top-color: #90AAAC;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

body {
    background-attachment: fixed;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

main {
    width: 100%;
}

#main_background {
    width: 100%;
}

/*NAVBAR*/
header {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    z-index: 10;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/media/fondo_principal_2.jpg");
    background-size: cover;
    background-position: center center;
}

#navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.fondo_navbar {
    background-color: #282829;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.fondo_navbar #lista_navbar a {
    color: #FFFFFF;
    transform: translateY(20px);
    transition: 0.6s;
}


.fondo_navbar .logo_scroll,
.fondo_navbar .logo_base {
    transform: translateY(10px);
}

#lista_navbar .nav_link_main {
    color: #FFFFFF;
}

#lista_navbar .nav_link_main:hover {
    /*color: #282829;*/
    color: #90AAAC;
}

#lista_navbar a {
    transition: 0.6s;
}

.fondo_navbar #lista_navbar a:hover {
    color: #90AAAC;
}

#navbar a {
    font-weight: 600;
}


#navbar_paginas ul {
    width: 100%;
    justify-content: space-around;
}

#navbar_paginas a {
    transition: 0.6s;
}

#navbar #img_logo_navbar {
    width: 60%;
}

#navbar #img_logo_navbar img {
    width: 27%;
    margin: 2% 0 3% 4%;
}

#navbar #img_logo_navbar .logo_scroll,
#navbar #img_logo_navbar .logo_base {
    transition: 0.8s;
}


/*busqueda principal*/
main h1 {
    width: 50%;
    top: 40%;
    left: 25%;
    position: relative;
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
}

#busqueda_rapida {
    position: relative;
    z-index: 8;
    top: 45%;
    left: 15%;
    color: #FFFFFF;
}

#busqueda_rapida #select_tipo_prop {
    background-color: #eae9e9;
    flex: 0 1 27%;
}

#map{
    height: 60vh;
    width: 100%;
    z-index: 0;
}

#busqueda_rapida #btn_buscar_rapido {
    background-color: #282829;
    margin-top: 15%;
    transition: 0.3s;
    border: none;
}

#busqueda_rapida #btn_buscar_rapido:hover{
    background-color: #90AAAC
}

#busqueda_rapida select{
    transition: 0.3s;
}

#busqueda_rapida select:hover{
    background-color: #d8d8d8;
}

#tag_cant_resultados{
    color: #696969;
}

/*ULTIMOS INGRESOS*/

#ultimos_ingresos {
    margin-top: 5%;
}

#ultimos_ingresos h2 {
    text-align: center;
}

#ultimos_ingresos #cartas_ultimos_ingresos {
    margin-top: 2%;
    margin-left: 1.5%;
}

#ultimos_ingresos #cartas_ultimos_ingresos .row{
    width: 100%;
    margin-top: 1.2%;
}

#ultimos_ingresos #cartas_ultimos_ingresos .row .col-lg-4:first-child,
#ultimos_ingresos #cartas_ultimos_ingresos .row .col-md-6:first-child,
#ultimos_ingresos #cartas_ultimos_ingresos .row .col-sm-12:first-child {
    padding-left: 2%;
}

#ultimos_ingresos #cartas_ultimos_ingresos .row .col-lg-4:last-child,
#ultimos_ingresos #cartas_ultimos_ingresos .row .col-md-6:last-child,
#ultimos_ingresos #cartas_ultimos_ingresos .row .col-sm-12:last-child {
    padding-right: 2%;
}

/*tarjetas*/
.tarjeta_container {
    height: 50vh;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
}

.tarjeta_container:hover {
    transform: translateY(-10px);
}

.tarjeta_imagen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.tarjeta_imagen .tarjeta_imagen_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 30%;
}

.tarjeta_imagen .tarjeta_imagen_info .tarjeta_precio {
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 0 1% 2%;
}

.tarjeta_imagen .tarjeta_imagen_info .tarjeta_tipo_transaccion {
    color: #FFFFFF;
    padding: 0 2% 1% 0;
}

.tarjeta_info {
    padding: 2% 0 0 2%;
}

.tarjeta_info h4 {
    color: #282829;
}

.badge_tarjeta{
    background-color: #90AAAC;
}


/*TASACIONES*/
#header_tasaciones{
    margin-top: 5.5%;
    padding: 2%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../media/img_tasaciones.jpg');
    background-size: auto;
    background-position: center center;
    background-size: cover;
    color: #FFFFFF;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#main_tasaciones{
    margin-top: 2%;
}

#main_tasaciones #form_tasaciones{
    padding: 2%;
}

#main_tasaciones #form_tasaciones #container_form_tasacion{
    padding: 2%;
}

#main_tasaciones #form_tasaciones .seccion_form_tasacion h2{
    text-align: center;
}

#main_tasaciones #form_tasaciones .seccion_form_tasacion .row{
    justify-content: center;
    margin-top: 2.5%;
}

#main_tasaciones #form_tasaciones #comentario_tasacion{
    height: 25vh;
}



#btn_enviar_tasacion{
    background-color: #282829;
    transition: 0.3s;
    width: 15%;
    border: none
}

#btn_enviar_tasacion:hover{
    background-color: #90AAAC;
}


/*FOOTER*/
footer {
    height: 55vh;
    width: 100%;
    background-color: #282829;
    margin-top: 5%;
    box-shadow: -1px -1px 6px 1px rgba(0, 0, 0, 0.65);
}

footer #container_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #FFFFFF;
    padding: 5%;
}

footer #container_footer #container_logo_footer {
    width: 25%;
    display: flex;
    justify-content: start;
}

footer #container_footer #container_contacto_footer {
    width: 100%;
}

footer #container_footer #container_links_footer {
    width: 15%;
}

footer #container_footer #container_links_footer #container_lista_links{
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

footer #container_footer #container_links_footer #container_lista_links li{
    margin-bottom: 3%;
}

footer #container_footer #container_redes_footer {
    width: 100%;
    margin-top: 2%;
}

footer #container_footer #container_contacto_footer ul,
footer #container_footer #container_links_footer ul,
footer #container_footer #container_redes_footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer #container_footer #container_redes_footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    margin-top: 4%;
}

/*footer contactos*/
footer #container_footer #container_contacto_footer ul li img {
    width: 8%;

}

footer #container_footer #container_contacto_footer h5,
footer #container_footer #container_redes_footer h5{
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: #90AAAC;
}

footer #container_footer #container_links_footer h5{
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: #90AAAC;
    margin-bottom: 5%;
}


footer #gmail_footer {
    font-size: 12px;
}

footer .btn_footer {
    background-color: #282829;
    /*border: solid 1px #FFFFFF;*/
    color: #FFFFFF;
    width: 90%;
    padding-right: 0;
    padding-left: 0;
    transition: 0.3s;
}

footer .btn_footer a{
    text-decoration: none;
    color: inherit;
}

footer .btn_footer:hover {
    color: #FFFFFF;
}

footer #container_contacto_footer .container_btn_footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-weight: 500;
}

footer #container_contacto_footer .container_btn_footer span {
    margin-left: 3%;
    font-size: 15px;
}


/*footer links*/
footer #container_footer #container_links_footer ul a {
    text-decoration: none;
    color: inherit;
}

footer #container_footer #container_links_footer ul a:hover {
    color: #90AAAC;
    transition: 0.3s;
}

footer hr {
    width: 90%;
}

footer #logo_footer {
    width: 100%;
}

/*footer redes*/
footer .icono_redes {
    width: 70%;
}

footer .icono_redes:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

footer #disclaimer_footer{
    background-color: #212122;
    color: #949494;
    height: 12vh;
    padding: 1%;
    text-align: center;
    font-size: 13px;
}

footer #disclaimer_footer span{
    text-align: left;
    align-self: end;
}



#icono_wpp {
    position: fixed;
    bottom: 3%;
    right: -29%;
}

#icono_wpp img {
    width: 10%;
    transition: transform 0.3s ease, filter 0.7s ease;
}

#icono_wpp img:hover {
    transform: translateY(-7px);
    filter: hue-rotate(20deg);
}

/*NOSOTROS*/
#seccion_nosotros {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    height: 100vh;
    color: #282829;
    margin-bottom: 7%;
}

#container_nosotros {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header_nosotros {
    width: 100%;
    background-color: #90AAAC;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 0;
    margin-top: 8%;
}

#header_nosotros #container_header_nosotros {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header_nosotros #container_header_nosotros h1 {
    margin-bottom: 4%;
    font-weight: bold;
    color: #FFFFFF;
}

#header_nosotros #container_header_nosotros h3 {
    margin-bottom: 2%;
    color: #FFFFFF;
}

#header_nosotros #container_header_nosotros p {
    text-align: left;
    color: #FFFFFF;
}

#header_nosotros .video_container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50%;
    height: 55vh;
}

#header_nosotros .video_container iframe{
    height: 100%;
}

#seccion_valores {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

#seccion_valores .card_valores {
    background-color: #FAFAFA;
    width: 70%;
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
}

#seccion_valores .card_valores h2 {
    color: #90AAAC;
    font-weight: 600;
}

#seccion_valores .card_valores p {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 2%;
}

/*CONTACTO*/
#header_contacto{
    margin-top: 5.5%;
    padding: 2%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../media/img_header_contacto.jpg');
    background-size: auto;
    background-position: center center;
    background-size: cover;
    color: #FFFFFF;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#main_contacto {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main_contacto #container_img_contacto {
    width: 30%;
    background-color: #282829;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    margin: 1%;
    border-radius: 15px;
    padding: 2%;
    height: fit-content;
}

#main_contacto #container_img_contacto img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 3%;
}

#main_contacto #container_contacto{
    padding: 2% 5%;
    width: 70%;
    color: #282829;
    background-color: #FAFAFA;
    margin: 1%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
}

#main_contacto #container_contacto form .row{
    margin-top: 2%;
}

#main_contacto #container_contacto form textarea{
    height: 20vh;
}

#main_contacto #container_medios_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main_contacto #container_contacto h2 {
    font-size: 30px;
    margin-bottom: 3%;
    font-weight: 600;
    text-align: center;
}

#main_contacto #container_medios_contacto h3{
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 5%;
}

#main_contacto #btn_enviar_contacto{
    background-color: #282829;
    color: #FFFFFF;
    border: none;
    width: 20%;
    transition: 0.3s;
}

#main_contacto #btn_enviar_contacto:hover{
    background-color: #90AAAC;
}

#main_contacto #container_medios_contacto .medio_contacto a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}

#main_contacto #container_medios_contacto .medio_contacto h5 {
    margin: 0 0 0 1%;
    font-size: 15px;
}

#main_contacto #container_medios_contacto .medio_contacto .icono_contacto {
    width: 15%;
    transition: 0.3s ease;
}

#main_contacto #container_medios_contacto .medio_contacto .icono_contacto:hover{
    transform: scale(1.1);
}

/*PROPIEDADES*/
#main_propiedades {
    margin-top: 5%;
    color: #282829;
}

/*filtros*/

#main_propiedades #container_filtros{
    margin: 8% 0 0 2%;
    transition: 0.5s ease;
}

#main_propiedades #container_filtros  .btn_radio {
    background-color: #282829;
    color: #FFFFFF;
    padding: 10%;
}

#container_filtro_tipo_prop{
    width: 13%;
}

#container_filtro_localidad{
    width: 14%;
}

#container_filtro_tipo_oper{
    width: 14%;
}

.container_filtro_precio{
    width: 10%;
}

#main_propiedades #container_filtros .btn-check:checked+.btn_radio {
    background-color: #90AAAC;
}

#main_propiedades #container_filtros #container_radio_btns{
    padding-top: 2.42%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    width: 3.5%;
}

#main_propiedades .input_precio{
    text-align: center;
}

#main_propiedades .label_precio{
    width: 100%;
    text-align: center;
}

#main_propiedades #container_sidebar_filtros .form-check .form-check-input:hover,
#main_propiedades #container_sidebar_filtros .form-check .form-check-label:hover {
    cursor: pointer;
}

#main_propiedades #container_sidebar_filtros .form-check .form-check-input:checked {
    background-color: #90AAAC;
}

#main_propiedades #container_filtros #container_botones_filtros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.2%;
    padding-left: 0;
    width: 12%;
}

#main_propiedades #container_filtros #btn_aplicar_filtros {
    background-color: #282829;
    font-weight: 500;
    border: none;
    transition: 0.3s;
    padding: 4.5% 10%;
}

#main_propiedades #container_filtros #btn_aplicar_filtros:hover {
    background-color: #90AAAC;
}

#tag_cant_resultados{
    position: absolute;
    padding-top: 1%;
    margin-left: 7%;
}

.container_sin_resultados{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 28%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container_sin_resultados img{
    width: 15%;
    margin-bottom: 2%;
}

/*tarjetas propiedades*/

#main_propiedades #container_propiedades {
    /*background-color: #FAFAFA;*/
    margin: 2.5% 2% 2% 2%;
    /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);*/
    width: 96%;
    padding-bottom: 1%;
}

#main_propiedades #container_propiedades .row {
    margin-top: 1%;
}

#btn_ver_mas{
    background-color: #90AAAC;
    color: #FFFFFF;
    margin: 3% 0 0 45%;
}

#btn_ver_mas:hover{
    background-color: #a6c3c5;
}

/*DETALLE PROPIEDAD*/
#navegacion_detalle {
    width: 15%;
    margin: 8% 0 0 2%
}

#navegacion_detalle a {
    text-decoration: none;
    color: #282829;
}

#navegacion_detalle img {
    width: 10%;
}

#navegacion_detalle span{
    transition: 0.3s;
}

#navegacion_detalle span:hover {
    color: #90AAAC;
}

#main_detalle{
    margin-top: 6.5%;
}

.contenido_info:has(ul) {
    padding: 0;
}

.icono_detalle{
    width: 50%;
}

#main_detalle .info_ppal_detalle{
    text-align: center;
}

#main_detalle .info_ppal_detalle h5{
    margin-top: 5%;
    font-weight: 550;
}

#main_detalle .info_ppal_detalle #dormitorios_detalle{
    margin-top: 1%;
}

#main_detalle .info_ppal_detalle #banios_detalle{
    margin-top: 11%;
}

#icono_cama{
    width: 54%;
}

#icono_banio{
    width: 44%;
}

#main_detalle .container_detalle {
    background-color: #282829;
    margin: 0 0 0 0;
}

#main_detalle .container_detalle #container_imgs_detalle {
    padding: 0 0 0 0;
}

#main_detalle .container_detalle #container_info_detalle {
    color: #FFFFFF;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#main_detalle h1{
    padding-left: 1%;
}

#main_detalle #tipo_oper_detalle{
    padding: 1% 5%;
    background-color: #90AAAC;
    border-radius: 7px;
    font-weight: bold;
    font-size: 17px;
}

#main_detalle .container_detalle #container_info_detalle #container_precio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-top: 3%;
}

#main_detalle .container_detalle #container_info_detalle #precio_detalle{
    margin-bottom: 0;
}

.container_info_prop {
    margin: 2%;
}

iframe {
    width: 100%;
    height: 50vh;
}

#container_img_slider {
    height: 70vh;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#container_img_slider .btn_slider{
    width: 10%;
    height: 10vh;
    transition: 0.3s;
}

#container_img_slider .btn_slider:hover{
    cursor: pointer;
    filter: brightness(1.7);
}

#main_detalle #container_contacto_detalle #form_detalle{
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#carta_contacto_detalle{
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    margin-top: 5%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    
}

#main_detalle #container_contacto_detalle #form_detalle #mensaje_contacto_detalle{
    height: 20vh;
}

#main_detalle #container_contacto_detalle #btn_enviar_contacto_detalle{
    background-color: #282829;
    color: #FFFFFF;
    transition: 0.3s;
    width: 30%;
}

#main_detalle #container_contacto_detalle #btn_enviar_contacto_detalle:hover{
    background-color: #90AAAC;
}

#seccion_detalle_prop .col-sm-4{
    padding-left: 0;
}

/*EMPRENDIMIENTOS*/
#header_emprendimientos{
    margin-top: 5.5%;
    padding: 2%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../media/img_emprendimientos.jpg');
    background-size: auto;
    background-position: center center;
    background-size: cover;
    color: #FFFFFF;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#main_emprendimientos{
    margin-top: 2%;
}

#main_emprendimientos h1{
    margin-left: 2%;
    font-weight: bold;
}

.container_emprendimiento{
    margin: 2%;
}

.fila_emprendimiento{
    margin: 2% 0 3% 2%;
    height: 45vh;
    justify-content: center;
}

#col_1_emp{
    padding-right: 0;
}

#col_2_emp{
    padding-left: 0;
    padding-right: 1%;
}

#col_2_emp .fila_emprendimiento{
    margin-left: 0;
}

.info_emprendimiento{
    padding: 3%;
    border-radius: 10px;
    width: 98%;
    background-color: #FAFAFA;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.container_servicios{
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
}

.info_emprendimiento p{
    font-size: 15px;
    text-align: justify;
}

.info_emprendimiento h3{
    font-weight: 600;
}

.info_emprendimiento:hover{
    transform: scale(1.01);
}

.servicio_emp{
    margin: 0.5% 2% 0.5% 0;
    font-weight: 500;
    font-size: 12px;
}

/*MEDIA QUERIES*/
@media (max-width: 1500px){
    .tarjeta_container{
        height: 60vh;
    }

    #main_propiedades #container_filtros .btn_radio {
        padding: 10%;
    }

    .fila_emprendimiento {
        height: 50vh;
    }
}

@media (max-width: 1432px){
    #main_propiedades #container_filtros .btn_radio {
        padding: 5% 5%;
    }
}

@media (max-width: 1411px){
    .fila_emprendimiento {
        height: 55vh;
    }
}

@media (max-width: 1405px){
    #main_propiedades #container_filtros .btn_radio {
        padding: 5% 5%;
    }
}

@media (max-width: 1360px){
    #main_propiedades #container_filtros .btn_radio {
        padding: 5% 4%;
    }

    #main_propiedades #container_filtros #container_radio_btns {
        padding-top: 2.6%;
    }
}

@media (max-width: 1345px) {
    #header_nosotros #container_header_nosotros, #header_nosotros #container_header_nosotros p{
        text-align: center;
    }

    footer #gmail_footer {
        font-size: 10px;
    }

    #icono_wpp {
        right: -35%;
    }
}

@media (max-width: 1296px){
    #main_propiedades #container_filtros .btn_radio {
        padding: 5% 3%;
    }
}

@media (max-width: 1200px){
    .fila_emprendimiento{
        margin-left: 0;
    }

    #col_1_emp .fila_emprendimiento {
        margin-right: 1%;
    }

    #col_2_emp .fila_emprendimiento {
        margin-left: 1.5%;
    }

    #btn_enviar_tasacion {
        width: 20%;
    }
}

@media (max-width: 1145px) {
    #header_nosotros{
        flex-direction: column;
        align-items: center;
    }

    #header_nosotros #container_header_nosotros{
        width: 80%;
        margin-bottom: 2%;
    }

    #main_contacto #container_medios_contacto{
        text-align: center;
        padding: 2%;
    }

    #main_contacto #container_medios_contacto .medio_contacto a{
        flex-direction: column;
        align-items: center;
    }

    #main_contacto #container_medios_contacto .medio_contacto .icono_contacto{
        margin-bottom: 2%;
        width: 8%;
    }

    footer {
        height: auto;
    }

    footer #container_contacto_footer .container_btn_footer {
        flex-direction: column;
        margin: 0;
    }

    footer #container_contacto_footer .container_btn_footer span {
        margin-top: 2%;
        margin-left: 0;
    }

    #icono_wpp {
        right: -38%;
    }
}

@media (max-width: 1000px){
    #ultimos_ingresos #cartas_ultimos_ingresos .row .col-sm-12:last-child{
        padding-left: 2%;
        padding-right: 1%;
        margin-top: 2%;
    }

    #main_contacto #container_medios_contacto .medio_contacto h5{
        font-size: 15px;
    }

    #icono_wpp {
        right: -45%;
    }
}

@media (max-width: 990px){
    #header_tasaciones{
        text-align: center;
    }

    #datos_tasacion{
        margin-top: 5%;
    }

    #container_btn_enviar_tasacion{
        text-align: center !important;
    }
}

@media (max-width: 870px){
    #icono_wpp {
        right: -52%;
    }
}

@media (max-width: 768px) {
    /*principal*/
    #ultimos_ingresos #cartas_ultimos_ingresos .row .col-sm-12{
        padding: 2%;
        margin: 2%;
    }

    /*nosotros*/
    #seccion_valores{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #seccion_valores .card_valores{
        width: 90%;
    }

    .video_container video{
        width: 500px;
    }

    /*contacto*/
    #main_contacto{
        flex-direction: column-reverse;
        align-items: center;
    }

    #main_contacto #container_medios_contacto{
        width: 100%;
    }

    #main_contacto #container_img_contacto{
        width: 100%;
    }

    #main_contacto #container_medios_contacto .medio_contacto h5{
        font-size: 20px;
        margin-left: 0;
    }

    #main_contacto #container_medios_contacto .medio_contacto .icono_contacto{
        width: 6%;
    }

    /*propiedades*/
    #main_propiedades #container_propiedades .row .col-sm-10{
        padding: 2%;
        margin: 2% 2% 2% 6%;
    }

    /*detalle*/
    .contenido_info p{
        text-align: center;
    }

    .container_info_prop h4{
        text-align: center;
    }

    /*footer*/
    footer {
        height: auto;
    }

    footer #container_footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer #container_footer #container_logo_footer {
        margin-bottom: 2%;
    }

    footer #logo_footer {
        width: 100%;
    }


    footer #container_footer #container_redes_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    footer #container_footer #container_redes_footer h5 {
        width: 100%;
    }

    footer #container_footer #container_redes_footer hr,
    footer #container_footer #container_contacto_footer hr,
    footer #container_footer #container_links_footer hr {
        width: 40%;
        margin-top: 0;
    }

    footer .icono_redes {
        width: 5%;
    }

    footer #container_footer #container_contacto_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    footer .btn_footer {
        width: 50%;
    }

    footer #container_contacto_footer .container_btn_footer {
        flex-direction: column;
        margin: 0;
    }

    footer #container_contacto_footer .container_btn_footer span {
        margin-top: 2%;
        margin-left: 0;
    }

    footer #container_footer #container_links_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    #icono_wpp {
        right: -58%;
    }
}

@media (max-width: 650px){
    #icono_wpp {
        right: -70%;
    }
}

@media (max-width: 555px){
    #main_propiedades #container_propiedades .row .col-sm-10{
        padding: 2%;
        margin: 0;
    }
}

@media (max-width: 530px){
    .video_container video{
        width: 400px;
    }

    #main_contacto #container_medios_contacto .medio_contacto h5{
        font-size: 15px;
        margin-left: 0;
    }

    #icono_wpp {
        right: -83%;
    }
    .fila_emprendimiento {
        height: 65vh;
    }
}

@media (max-width: 450px){
    #icono_wpp {
        right: -96%;
    }
}

@media (max-width: 420px){
    .video_container video{
        width: 300px;
    }

    #icono_wpp {
        right: -100%;
    }
}

@media (max-width: 380px){
    #icono_wpp {
        right: -115%;
    }
    .fila_emprendimiento {
        height: 70vh;
    }
}

@media (max-width: 376px) {
    *{
        overflow-x: hidden;
    }

    #navbar {
        background-color: #282829;
        box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .fondo_navbar #lista_navbar a {
        color: #FFFFFF;
        transform: translateY(0px);
        transition: 0.6s;
    }

    .fondo_navbar .logo_scroll, .fondo_navbar .logo_base {
        transform: translateY(0px);
    }

    #navbar_paginas ul {
        text-align: center;
    }

    /*INDEX*/
    main h1 {
        left: 15%;
        top: 20%;
        font-size: 20px;
        width: 70%;
    }

    #navbar #img_logo_navbar img{
        width: 50%;
        margin-left: 0;
        margin-top: 5%;
    }

    #busqueda_rapida {
        left: 0;
        top: 25%;
        flex-direction: column;
        align-items: center;
    }

    #busqueda_rapida select{
       width: 100%;
    }

    #busqueda_rapida label {
        margin-bottom: 0;
    }

    #busqueda_rapida .container_filtro_select {
        width: 80%;
        margin-bottom: 3%;
    }

    #busqueda_rapida > :last-child {
        text-align: center;
    }

    #busqueda_rapida #btn_buscar_rapido {
        margin-top: 0;
        width: 25%;
        margin-top: 5%;
    }

    /*NOSOTROS*/
    #header_nosotros,
    #header_emprendimientos,
    #header_tasaciones,
    #header_contacto{
        margin-top: 23%;
        padding-top: 7%;
        text-align: left;
    }

    #header_nosotros #container_header_nosotros, 
    #header_nosotros #container_header_nosotros p{
        text-align: left;
    }

    #header_nosotros #container_header_nosotros h3 {
        margin-bottom: 5%;
    }

    #header_nosotros .video_container {
        width: 80%;
        height: 30vh;
        overflow-y: hidden;
        margin-bottom: 5%;
    }

    #seccion_valores .card_valores {
        text-align: left;
        padding: 6%;
        margin-top: 6%;
    }

    #seccion_valores .card_valores p{
        font-size: 14px;
    }

    #seccion_valores {
        margin-bottom: 30%;
    }

    /*EMPRENDIMIENTOS*/
    .info_emprendimiento {
        padding: 6%;
    }
    .info_emprendimiento p {
        font-size: 12px;
        text-align: left;
    }

    .fila_emprendimiento{
        height: auto;
    }

    /*CONTACTO*/
    #main_contacto{
        flex-direction: column;
    }

    #main_contacto #container_contacto{
        width: 90%;
        padding: 7%;
        margin-bottom: 10%;
    }

    #main_contacto #container_contacto h2{
        text-align: left;
        font-size: 25px;
    }

    .form-label{
        margin-top: 4%;
    }

    #main_contacto #btn_enviar_contacto{
        width: 40%;
    }

    #container_contacto .col-sm-12 {
        margin-top: 2%;
    }

    #main_contacto #container_img_contacto {
        width: 90%;
        padding: 4%;
        margin-bottom: 25%;
    }

    #main_contacto #container_medios_contacto h3{
        text-align: left;
    }

    #main_contacto #container_medios_contacto h3{
        font-size: 25px;
    }

    #main_contacto #container_medios_contacto .medio_contacto a{
        flex-direction: row;
    }

    #main_contacto #container_medios_contacto .medio_contacto .icono_contacto {
        width: 15%;
        margin: 0;
    }

    #main_contacto #container_medios_contacto .medio_contacto h5{
        font-size: 12px;
    }

    /*PROPIEDADES*/
    #main_propiedades #container_filtros{
        margin-top: 23%;
        flex-direction: column;
        margin-bottom: 10%;
    }

    #container_filtro_tipo_oper, 
    #container_filtro_tipo_prop,
    #container_filtro_localidad,
    .container_filtro_precio,
    #main_propiedades #container_filtros #container_botones_filtros{
        width: 100%;
    }

    #main_propiedades #container_filtros #container_radio_btns{
       display: none;
    }

    #main_propiedades .label_precio{
        text-align: left;
    }

    #main_propiedades #container_filtros #container_botones_filtros{
        justify-content: end;
        gap: 10px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #main_propiedades #container_filtros #btn_aplicar_filtros{
        padding: 2% 8%;
    }

    #tag_cant_resultados {
        margin-left: 0;
        padding-left: 9%;
        position: relative;
    }

    #main_propiedades #container_propiedades {
        margin-top: 0;
    }

    #btn_ver_mas{
        margin: 3% 0 0 38%;
    }

    /*FOOTER*/
    #container_logo_footer{
        width: 80%;
    }

    footer #container_footer #container_logo_footer {
        width: 60%;
    }

    footer #container_footer #container_links_footer h5,
    footer #container_footer #container_links_footer #container_lista_links,
    footer #container_footer #container_contacto_footer h5,
    footer #container_footer #container_redes_footer h5{
        text-align: center;
    }

    footer #container_footer #container_contacto_footer ul li img {
        width: 12%;
    }

    footer #container_contacto_footer .container_btn_footer span{
        font-size: 10px;
    }

    footer .icono_redes{
        width: 60%;
    }

    footer #disclaimer_footer span{
        text-align: center;
    }
}

@media (max-width: 330px){
    #main_contacto #container_medios_contacto .medio_contacto h5{
        font-size: 10px;
        margin-left: 0;
    }

    #icono_wpp {
        right: -130%;
    }
}
